/* apply a natural box layout model to all elements */
*, 
*:before, 
*:after {
  @include box-sizing(border-box);
}

html,
body {}

html {}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/**
 * Link Defaults.
 */
a {
  text-decoration: none;

  &:link {

  }
  &:visited {

  }
  &:hover {

  }
  &:active,
  &:focus {

  }
}