<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Mixture Front-End Starter Kit{% endblock %}</title>
    
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=0, initial-scale=1">

    <!-- Open Graph Protocol, see http://ogp.me for more information -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    {{ "styles.css" | asset_url | stylesheet_tag }}

    <script data-main="/public/scripts/main.min.js" src="/public/scripts/require.min.js"></script>
  </head>

  <body class="">

    {% block content %}{% endblock %}

  </body>
</html>